{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap4 %}

{% block content %}
<div class="container wrapper flex-grow-1">
	<h1 class="my-4">{% translate title %}</h1>

    
    {% if form.non_field_errors %}
    <ul class='form-errors'>
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
        {% endfor %}
    </ul>
    {% endif %}
    
    
    
    <form method="post" class="form">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">{% translate 'Enter' %}</button>

    </form>
</div>
{% endblock %}
