{% load i18n %}

{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}


<head>
  <title>{% translate title %}</title>

  <!-- для сообщений -->
  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

</head>

<body>
  {% block menu %}
    <ul>
      <li><a href="{% url 'home' %}">{% translate 'Task manager' %}</a></li>
      <li><a href="{% url 'users:users' %}">{% translate 'Users' %}</a></li>
    </ul>

    {% if user.is_authenticated %}
      <ul>
        <li><a href="{% url 'users:statuses' %}">{% translate 'Statuses' %}</a></li>
        <li><a href="#">{% translate 'Tags' %}</a></li>
        <li><a href="{% url 'users:tasks' %}">{% translate 'Tasks' %}</a></li>
        <li><a href="{% url 'logout' %}">{% translate 'Logout' %}</a></li>
      </ul>
    {% else %}
    <ul>
      <li><a href="{% url 'login' %}">{% translate 'Entrance' %}</a></li>
      <li><a href="{% url 'users:create' %}">{% translate 'Registration' %}</a></li>
    </ul>
    {% endif %}
  {% endblock %}

  {% block content %}

  {% endblock %}

</body>

{% bootstrap_messages %}

